<html>
<head>
<title>Cache flushed</title>
</head>
<style>
   .head {  font-family: Verdana; font-size: 22px; line-height: 28px;  color: #000000}
    body    { font-family: Verdana; font-size: 14px; line-height: 20px; color : black; margin: 10 }
    table   { font-family: Verdana; font-size: 14px; line-height: 20px }
</style>
<body bgcolor="#EFEFEF" >
<table border="0" width="790" height="60">
<tr>
  <td valign="middle" align="left" height="60" width="100%">
    <font class="head">Cache geleert.</font>
  </td>
</tr>
<tr>
  <td>
    <table bgcolor="#000000" cellpadding="10" cellspacing="1" width="100%">
    <tr>
      <td width="100%" bgcolor="#F8F8F8">Gleich geht's weiter ...</td>
    </tr>
    </table>
  </td>
</tr>
</table>
</body>
<!--
     Terminkalender; (c) Bernhard Schupp; Frankfurt 2001 - 2002
-->
</html>
